{% load static %}
<html>
<head>
<title>Job Building System</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<script language="javascript">
	function validate(formObj)
	{
	
	if(formObj.t1.value.length==0)
	{
	alert("Please Enter password");
	formObj.t1.focus();
	return false;
	}
	if(formObj.t2.value.length==0)
	{
	alert("Please Enter Contact No");
	formObj.t2.focus();
	return false;
	}
	if(formObj.t2.value.length==0)
	{
	alert("Please Enter Contact No");
	formObj.t2.focus();
	return false;
	}
	if(isNaN(formObj.t2.value)){
		alert("Contact No must be numeric");
		formObj.t2.focus();
		return false;
	}
	if(formObj.t3.value.length==0)
	{
	alert("Please Enter Email Id");
	formObj.t3.focus();
	return false;
	}
	var filter = /^([a-zA-Z0-9_\.\-])+\@([a-z]+\.)+(com)+$/;
    if (!filter.test(formObj.t3.value)) {
		window.alert('Please enter valid email address');
		formObj.t3.focus();
		return false;
	}
	
	return true;
	}
	</script>
	
</head>
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
</style>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>Add Job's Building an Lucrative Carrier Job</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
  <ul>      
     <li><a href="{% url 'EditProfile' %}"><font size="3" color="black">View/Edit Profile</a></li>
	 <li><a href="{% url 'CheckTeam' %}"><font size="3" color="black">Check Team Assignments</a></li>
	 <li><a href="{% url 'index' %}"><font size="3" color="black">Logout</a></li>
   </ul>        
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="1010" height="200" alt="" /></div>
      				<center>
<form name="f1" method="post" action={% url 'EditProfileAction' %} onsubmit="return validate(this);">
{% csrf_token %}<br/>
   <h2><b>Edit Profile Screen</b></h2>
   
	<font size="" color="red"><center>{{ data }}</center></font>
						
						<table align="center" width="30%" >
			 {{ data1|safe }}

          <tr><td><font size="3" color="black">Update&nbsp;Skills</td><td><select name="t4" multiple>
		  <option value="Full Stack">Full Stack</option>
		  <option value="Frontend">Frontend</option>
		  <option value="Backend">Backend</option>
		  <option value="Testing">Testing</option>
		  <option value="SQL Databases">SQL Databases</option>
		  </select>
		  </td></td></tr>

		 
			<tr><td></td><td><input type="submit" value="Submit"></td>
			</table>
				</div>	
					
				</div>
				
					
	</body>
</html>